<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <div class="products">
        <% for (let p of products) { %>
        <form method="POST" action="/cart/delete/<%= p.id %>">
          <input type="hidden" name="_method" value="DELETE" />

          <div class="product-box">
            <img
              src="<%= p.imageUrl %>"
              alt="<%= p.name %>"
              class="product-img"
            />
            <h2><%= p.name %></h2>
            <p>₩ <%= p.price %></p>
            <p>Quantity: <%= p.productQuantity %></p>
            <button type="submit" class="add-to-cart-btn">
              Delete from Cart
            </button>
            <a href="/shop/<%= p.id %>">View Details</a>
          </div>
        </form>
        <% } %>
      </div>
    </main>
  </body>
</html>
