<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/shop.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <main>
      <nav class="category-navbar">
        <ul>
          <li><a href="/">All</a></li>
          <li><a href="/">Category 1</a></li>
          <li><a href="/">Category 2</a></li>
          <li><a href="/">Category 3</a></li>
        </ul>
        <div class="search">Search: <input type="text" /></div>
      </nav>
      <div class="products">
        <% for (let p of products) { %>
        <div class="product-box">
          <img
            src="<%= p.productImg %>"
            alt="<%= p.productName %>"
            class="product-img"
          />
          <h2><%= p.productName %></h2>
          <p>₩ <%= p.productPrice %></p>
          <a href="/shop/<%= p.id %>">View Details</a>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
