<html>
<head>
    <title>Shop</title>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <hr>
    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="product-img"/>
    <h2>Product Name: <%= product.name %></h2>
    <p>Product Price: ₩ <%= product.price %></p>
    <p>
        Product Description: <%= product.description %>
    </p>
</html>